:root{

}

*{
    font-family: sans-serif;
    padding:0;
    margin: 0;

}
body, html{
    padding: 0;
    margin: 0;
}

.container{
    width:100vw;
    height:100vh;
    background-color: rgb(65, 65, 65);

    display: flex;

    justify-content: center;
}

.calculator{
    margin-top: 50px;

    

}

.screen-area{
    background-color: rgb(230, 230, 230);
    height:150px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.primary{
    height: 60%;
    font-size: 2em;

}

.secondary{
    height: 40%;
    font-size: 1.4em;
}

.primary, .secondary{
    width: 100%;

    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

/* ----------------  TEXT ---------------- */

.primary-text, .secondary-text{
    margin: 10px;
    
}

.primary-text{
    color: rgb(59, 59, 59);
}

.secondary-text{
    color: rgb(117, 117, 117);
}

/* ---------------- BUTTONS ---------------- */

.buttons-area{
    background-color: rgb(230, 230, 230);
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;

}

button{
    width: 100px;
    height: 100px;
    
    user-select:none;

    border: 2px rgb(230, 230, 230) solid;
    border-radius: 10px;

    background-color: white;

    font-size: 1.3em;
    color:rgb(145, 145, 135);
}

button:hover{
    background-color: rgba(235, 235, 235, 0.022);
}

#EQUALS{
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 4;
}

.operator:hover{
    background-color: rgb(155, 187, 255, 0.22);
}

#EQUALS:hover{
    background-color: rgba(61, 212, 23, 0.22);
}

#DEL:hover, #CLEAR:hover{
    background-color: rgba(255, 0, 0, 0.22);
}